# python development
venv
.venv
build
__pycache__
dist
robotjes_client.egg-info

# vscode
.vscode

# intellij
.idea
*.iml

# client: ASCII art
asciimatics

# client: HTTP/REST
requests

tracelog
*.log
