# basic client functionality, REST-calls client-side
requests==2.27.1
pyparsing

# Web server for robotjesengine
fastapi[all]
fastapi_utils
uvicorn

# Output in a simple way
rich
textual

# Clipboard handling
# note: on ubuntu/linux you need to do 'sudo apt-get install xsel'
# see: https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error
pyperclip

# UI for CLI tools
# asciimatics

# support for Pypi releasing
wheel
twine
build

# documentation
mkdocs

# development
black
pylint
flake8
