/*
*/

#maincomponent {
    border-style: dotted;
    height:100%;
    width: 100%;
    min-height: 400px;
    background-color:rgb(128, 153, 162);
    position: relative;
    display: table
}
#maincomponent #aform {
    border-style: dashed;
    display: table-row;
}

.fieldviewer {
    /*border-style: dashed;*/
    display: table-row;
}

.fieldviewer .right {
    /*border-style: solid;*/
    display: table-column;
    padding: 0%;
    width:100%;
    height: 100%;
}

.worldpane {
    position: relative;
    padding: 0%;
}

.row {
    display: flex;
}
